
body {
	font-family: 'Share Tech Mono', monospace;
	text-align: center;	
	font-size: 15px;
	background-color: lightgray;
}



.infoImg{
	max-width: 30px;
	position:absolute;
	left:1px;
	top:1px;
}


.footer{
	font-size: 10px;
}


.btn1 {
	margin: 45px;
	background-color: gray; 
}







.call_Btn {
	padding: 9px 50px;
	background-color: orange; 
	border-style: none;
	margin: 10px;
	color: white;
}

.chat_Btn {
	padding: 9px 50px;
	background-color: coral; 
	border-style: none;
	margin: 10px;
	color: white;
}

.install_Btn {
	padding: 9px 70px;
	background-color: teal; 
	border-style: none;
	margin: 10px;
	color: white;
}





.clear {
	clear: both;
}





